@font-face {
    font-family: bajamjuree;
    src: url(./font/BaiJamjuree-Regular.ttf);
}

.myWebsite {
    font-family: bajamjuree;
}

.myWebsite .header {
    background: url(./images/bg-header-desktop.png) no-repeat;
    background-size: cover;
    background-position: top;
}